ion-header{
  background: transparent !important;
background-color: transparent !important;
 --ion-background-color: transparent !important;
 --background: transparent !important;
}
ion-navbar {
  --ion-toolbar-background-color: transparent;
  }
ion-content{
  --padding-bottom: 81px;
 --background: transparent !important;
  #date{
  font-weight: 400;  
  }

}
  .label{
    font-weight: 800;
    font-size: 3em;
  }
  
// .sc-ion-label-md-s>p {
//   color: #030303;
// }
.item .item-content {   background-color: transparent !important; }

// .high{
//   --background: #B81D13;
// }.middle{
//   --background: #EFB700;
// }.low{
//   --background: #008450;
// border-right: 7px solid #2dd36f; l3iiba li fjanb

// }

.item .item-content {
  background-color: transparent !important;
}
.item-content {
  background-color:red;
}


.empty-image{
  max-width: 80%;
  opacity: .6;
}
