ion-header{
  background: transparent !important;
background-color: transparent !important;
 --ion-background-color: transparent !important;
 --background: transparent !important;
}
ion-navbar {
  --ion-toolbar-background-color: transparent;
  }
ion-content{
  --padding-bottom: 81px;
 --background: transparent !important;
  #date{
  font-weight: 400;  
  }

}
  .label{
    font-weight: 800;
    font-size: 3em;
  }
  
// .sc-ion-label-md-s>p {
//   color: #030303;
// }
.item .item-content {   background-color: transparent !important; }

.high{
  border-right: 10px solid #B81D13;
}.middle{
  border-right: 10px solid #EFB700;
}.low{
border-right: 10px solid #2dd36f; 

}

.item .item-content {
  background-color: transparent !important;
}
.item-content {
  background-color:red;
}

h3{
 opacity: 0,6;
 color: silver;
 filter: brightness(0.5);
  text-align: center;
}

.empty-image{
  max-width: 80%;
  opacity: 0.6;
  filter: opacity(0.5);
  padding-top: 20vh;
}
