<ion-header> 
  <ion-toolbar color="primary">
    <h1>About</h1>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="tasklist"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true" scroll="true" style="justify-content: center;">
 
  <ion-card mode = 'ios'>
    <img src="../../assets/images/logocode.png" />
    <ion-card-header>
      <ion-card-subtitle>Destination</ion-card-subtitle>
      <ion-card-title>Madison, WI</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      is simple and awesome app to organize your tasks with very easy to use interface. <br>To-do-list can help you to make list of your tasks and also you can set Reminder with specific tasks.<br> It reminds you at you specified Time. <br>We believe that we only focus on our Today and Tomorrow tasks,<br> which is most important.<br><br><br>

    </ion-card-content>
  </ion-card>
</ion-content>

  

