<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title>
      {{task ? 'Update task' : ' Add task'}}
    </ion-title>
    <ion-icon name="close" slot="end" size="larger" class="ion-padding" (click)="dismis()"></ion-icon>
  </ion-toolbar>

</ion-header>

<ion-content class="ion-padding">
  <ion-row class="ion-justify-content-center">
    <ion-col>

      <ion-item>
        <ion-icon name="pencil-sharp"></ion-icon>
        <ion-label>itle</ion-label>
        <ion-input type="text" [(ngModel)]="itemName"></ion-input>
      </ion-item>

      <ion-item>
        <ion-icon slot="start" name="pricetags-sharp"></ion-icon>
        <ion-label>Priority</ion-label>
        <ion-select [(ngModel)]="itemPriority" interface="action-sheet">
          <ion-select-option value="low">Low</ion-select-option>
          <ion-select-option value="middle">Middle</ion-select-option>
          <ion-select-option value="high" selected>High</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-icon name="calendar-outline" slot="start"></ion-icon>
        <ion-label>Date</ion-label>
        <ion-datetime [(ngModel)]="itemDueDate" displayFormat="D MMM YYYY H:mm"></ion-datetime>
      </ion-item>


      <div class="ion-margin">
        <ion-button *ngIf="!task" shape="round" mode="ios" expand="block" (click)="add()">Add Task</ion-button>
        <ion-button *ngIf="task" shape="round" mode="ios" expand="block" (click)="update()">Update Task</ion-button>
      </div>
    </ion-col>
  </ion-row>

</ion-content>