<ion-content [fullscreen]="true" scroll="true" style="justify-content: center;">
 
  <div class="background">
    <ion-row>
      <ion-col style="justify-content: center;">
        <div class="image">
          <img src="../../assets/images/logo.png" alt="">
        </div>

        <div class="text">
          <h1>To-do-list</h1>
          <ion-item lines="none" class="item">
            <ion-label id="label">Let's do your tasks</ion-label>
          </ion-item>
          <ion-item lines="none" class="item">
            <ion-label >NOW OR NEVER </ion-label>
          </ion-item>
        </div>

        <div id="button">
          <ion-button href="./tasklist" id="go" expand="block"  fill="solid">
            Let's go
            </ion-button>
            <ion-button href="./about"  id="about" expand="block" fill="outline"> 
            About
          </ion-button>
        </div>

      </ion-col>
    </ion-row>
  </div>
</ion-content>

