.duration-1{
    transition-duration: 1s;
}
.animated-hide{
    transform: translateY(40px);
    
}
.sun{
    position: absolute;
}
.vr{
    text-align: center;
    font-size: small;
    margin-top: -7px;
}
.img{

max-width: 100%;
filter: grayscale(1);
width: min-content;
padding-top: 46px

}
