<ion-header>
  <ion-toolbar>
    <ion-title>settings</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card mode='ios' >

    <ion-list>
      <ion-item lines="none">
        <ion-icon slot="start" name="sunny-sharp" class="duration-1 moon" [ngClass]="{'animated-hide' : darkvalue}"></ion-icon>
        <ion-icon slot="start" name="moon-sharp" class="duration-1 sun" [ngClass]="{'animated-hide' : !darkvalue}"></ion-icon>
        <p> Dark Mode</p>
        <ion-toggle  color='primary' slot="end" [(ngModel)]="darkvalue" [checked]="darkvalue" (ionChange)="setThem($event)"></ion-toggle>
      </ion-item>
    </ion-list>
    <ion-list>
    </ion-list >
    <ion-list >
      <ion-item button (click)="delete()">
        <ion-icon slot='start' name="refresh-outline"></ion-icon>
        <p> Reset All</p>
      </ion-item>
    </ion-list>
    <ion-list>
      <ion-item (click)="showAbout()" >  
        <ion-icon slot="start" name="alert-outline"></ion-icon>

        <p>About</p>
      </ion-item>
    </ion-list>
  </ion-card>
  <div  class='ion-text-center'>  
    <img class="img" src="../../assets/images/logocode.png" alt="fooxcoder">  
      <p class="vr" color='primary'>Version 1.0.1</p>
  </div>
</ion-content>        
