<ion-header>
  <ion-toolbar>
    <ion-title>settings</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card mode='ios'>

    <ion-list>
      <ion-item lines="none">
        <ion-icon slot="start" name="sunny-sharp" class="duration-1 moon" [ngClass]="{'animated-hide' : darkvalue}"></ion-icon>
        <ion-icon slot="start" name="moon-sharp" class="duration-1 sun" [ngClass]="{'animated-hide' : !darkvalue}"></ion-icon>
        <p> Dark Mode</p>
        <ion-toggle slot="end" [(ngModel)]="darkvalue" [checked]="darkvalue" (ionChange)="setThem($event)"></ion-toggle>
      </ion-item>
    </ion-list>
    <ion-list>
      <ion-item>
        <ion-icon slot="start" name="notifications-off-sharp"></ion-icon>
        <p> Notification</p>
        <ion-toggle slot="end"></ion-toggle>
      </ion-item>
    </ion-list>
    <ion-list>
    </ion-list>
    <ion-list>
      <ion-item button (click)="todoService.removeAllTasks()">
        <p> Reset All</p>
      </ion-item>
    </ion-list>
    <ion-list>
      <ion-item href ='../About/about.page.html' >
        <p>About</p>
      </ion-item>
    </ion-list>
  </ion-card>
</ion-content>